* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --sections: #f9f9f9;
  --words: #616161;
  --inputInfo: #8e8e949d;
  --fontSizeTitles: 1.2rem;
  --fontSizeInfos: 0.8rem;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  background-color: var(--background);
  font-family: Helvetica;
  padding: 1vw;
  width: 100vw;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  background-color: var(--sections);
  padding: 1vw;
  border-radius: 10px;
}

.wrapLabelAndInput {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  gap: 5px;
  margin-bottom: 5vh;
}

.wrapLabelAndInput label {
  font-size: var(--fontSizeTitles);
  color: var(--words);
  font-weight: 500;
}
